.graph-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 2.8rem;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    justify-content: center;
    align-items: center;
    border-radius: 0 !important;

    @include for-tablet {
      max-width: 422px !important;
      height: auto !important;
      background: #FFFFFF;
      box-shadow: 0px 4px 30px rgba(28, 45, 64, 0.1);
      border-radius: 24px !important;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    @include for-tablet {
      width: 100%;
    }
  }

  &__info {
    text-align: center;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 1.6rem;

    @media screen and (min-width: 1600px) {
      font-size: 2rem;
    }
  }

  &__descr {
    margin: 0;
    font-size: 1.2rem;

    @media screen and (min-width: 1600px) {
      font-size: 1.4rem;
    }
  }

  &__close {
    width: 28px !important;
    height: 28px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none !important;
    background-color: var(--light-accent-color) !important;
    border-radius: 50px;

    @include for-tablet {
      right: -39px !important;
      top: 0px !important;
    }
  }

  & .btn {
    width: 100%;
    padding: 0.8rem 7.5rem;

    @media screen and (min-width: 1600px) {
      padding: 1.4rem 7rem;
    }
  }
}
